asgiref==3.7.2
black==23.12.1
celery==5.3.6
certifi==2023.11.17
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
Django==5.0
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf_spectacular==0.27.0 
filelock==3.13.1
flake8==6.1.0
identify==2.5.33
idna==3.6
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.12.1
Pillow==10.1.0
platformdirs==4.1.0
pre-commit==3.6.0
psycopg==3.1.16
pycodestyle==2.11.1
pyflakes==3.1.0
PyJWT==2.8.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
sqlparse==0.4.4
urllib3==2.1.0
virtualenv==20.25.0
psycopg2-binary==2.8.5
